body {
  font-family: monospace;
}

.calc {
  margin: 0 auto;
  width: 15%;
  border: 1px solid gray;
  padding: 1em;
}

.buttons {
  width: 85%;
  margin: 0 auto;
}

button {
  padding: 1em;
  margin: 0.1em;
  background: #eee;
  border: none;
  width: 56px;
}

input {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5em;
  font-size: 20px;
  border: none;
  text-align: center;
  background-color: #eee;
}
